<include file="Public/menu" />
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#">账户管理</a><a href="#" class="current">账户信息</a></div>
    </div>
    <div class="container-fluid">
        <div class="tabs_con">
            <div class="main_con">

                <div class="big_title">
                    <div class="tool_bar"><!-- <span class="b_btn">编辑</span> --></div>
                    <h3>账户资料</h3>
                </div>
                <div class="col2">
                    <table>
                        <tbody><tr>
                            <th>商户名称：</th>
                            <td>海南奇楠沉香交易中心有限公司</td>
                        </tr>
                        <tr>
                            <th>商户ID：</th>
                            <td>00000000000381</td>
                        </tr>
                        <tr>
                            <th>操作员姓名：</th>
                            <td>海南奇楠沉香交易中心有限公司</td>
                        </tr>
                        <tr>
                            <th>操作员账户名：</th>
                            <td>operator05</td>
                        </tr>
                        <tr>
                            <th>用户状态：</th>
                            <td> 可用</td>
                        </tr>
                        <tr>
                            <th>联系电话：</th>
                            <td>18377114219</td>
                        </tr>
                        <tr>
                            <th>邮箱：</th>
                            <td>2338459298@qq.com</td>
                        </tr>
                        </tbody></table>
                </div>
                <div class="col2">
                    <table><tbody>
                    <tr><th>功能权限：</th> </tr>
                    <tr>
                        <td class="powerTd">
                            <ul class="powerUl">
                                <li> 商户系统</li>
                                <li> 账户管理, 商户信息 </li>
                                <li> 账户资料,修改密码, 操作员设置</li>
                                <li> 我的服务, 账户查询,在线充值</li>
                                <li> 汇总账单, 交易管理,交易明细</li>
                                <li> 退款管理,结算管理,结算申请</li>
                                <li> 结算记录,代收代付,代付管理</li>
                                <li>代收管理</li>
                            </ul>
                        </td>
                    </tr>
                    </tbody></table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>
</body>
</html>
<!--<div class="con" id="tabcon_01" style="display: block; top: 0px; opacity: 1;">-->
<!--<div class="col2">-->
<!--<table class="firmTab">-->
<!--<tbody>-->
<!--<assign name="num" value="0" />-->
<!--<foreach name="info_list" item="v">-->
<!--<if condition="$v['code'] eq 582">-->
<!--<?php if($num == 4){break;} $num++;?>-->
<!--<tr>-->
<!--<th><if condition="$v['state'] eq 1"><span class="require">*</span></if>{$v['name']}：</th>-->
<!--<td>{$v['value']}</td>-->
<!--</tr>-->
<!--</if>-->
<!--</foreach>-->
<!--</tbody></table>-->
<!--</div>-->
<!--<div class="col2">-->
<!--<table class="firmTab">-->
<!--<tbody>-->
<!--<assign name="tnum" value="0" />-->
<!--<foreach name="info_list" item="v">-->
<!--<if condition="$v['code'] eq 582">-->
<!--<?php $tnum++;?>-->
<!--<if condition="$tnum gt 4">-->
<!--<tr>-->
<!--<th><if condition="$v['state'] eq 1"><span class="require">*</span></if>{$v['name']}：</th>-->
<!--<td>{$v['value']}</td>-->
<!--</tr>-->
<!--</if>-->
<!--</if>-->
<!--</foreach>-->
<!--</tbody></table>-->
<!--</div>-->
<!--&lt;!&ndash;不要删&ndash;&gt;<div class="clear"></div>&lt;!&ndash;不要删&ndash;&gt;-->

<!--<div class="page_bar">-->
<!--<span id="firmEditBtn" class="b_btn" onclick="updateFirm('/merchant/562219.tran')">修改</span>-->
<!--</div>-->
<!--</div>-->